﻿@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>

<html direction="rtl" style="direction: rtl;">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="description" content="Page with empty content">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="~/assets/js/nicEdit.js"></script>
    <!--begin::Fonts -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">*@
    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/assets/plugins/global/plugins.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.rtl.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="~/assets/css/skins/header/base/light.rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/header/menu/light.rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/brand/dark.rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/aside/dark.rtl.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->
    <link href="assets/css/Custome.css" rel="stylesheet" />
    <title> @ViewBag.Title</title>

</head>

<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed">

    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a>
                <img alt="Logo" src="~/assets/media/logos/logo-light.png">
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler">
                <span></span>
            </button>

            <button class="kt-header-mobile__toggler" id="kt_header_mobile_toggler">
                <span></span>
            </button>

            <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_topbar_toggler">
                <i class="flaticon-more"></i>
            </button>
        </div>
    </div>
    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <!-- begin:: Aside -->
            <!-- Uncomment this to display the close button of the panel
            <button class="kt-aside-close " id="kt_aside_close_btn">
            <i class="la la-close">
            </i>
            </button>
            -->
            <!---->
            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
                <!-- begin:: Aside -->
                <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand">
                    <div class="kt-aside__brand-logo">
                        <span class="kt-menu__link-text"> </span>
                    </div>

                    <div class="kt-aside__brand-tools">
                        <button class="kt-aside__brand-aside-toggler" id="kt_aside_toggler">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999) " />
                                        <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999) " />
                                    </g>
                                </svg>
                            </span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero" />
                                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) " />
                                    </g>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
                <!-- end:: Aside -->
                <!-- begin:: Aside Menu -->
                <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">

                    <div id="kt_aside_menu"
                         class="kt-aside-menu "
                         data-ktmenu-vertical="1"
                         data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">


                        <ul class="kt-menu__nav ">

                            @if (ViewBag.Title == "Roles")
                            {
                                <li class=" kt-menu__item  kt-menu__item--active" aria-haspopup="true">
                                    <a href="@Url.Action("Roles", "PAdmin")" class="kt-menu__link ">
                                        <i class="kt-menu__link-icon flaticon-home">سطح دسترسی</i>
                                        <span class="kt-menu__link-text"></span>
                                    </a>
                                </li>
                            }
                            else
                            {

                                <li class="kt-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Roles", "PAdmin")" class="kt-menu__link ">
                                        <i class="kt-menu__link-icon flaticon-home">سطح دسترسی</i>
                                        <span class="kt-menu__link-text"></span>
                                    </a>
                                </li>
                            }




                            
                            @if (ViewBag.Title == "SiteRole")
                            {
                                <li class=" kt-menu__item  kt-menu__item--active" aria-haspopup="true">
                                    <a href="@Url.Action("SiteRole", "PAdmin")" class="kt-menu__link ">
                                        <i class="kt-menu__link-icon flaticon-plus">صفحه</i>
                                        <span class="kt-menu__link-text"></span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("SiteRole", "PAdmin")" class="kt-menu__link ">
                                        <i class="kt-menu__link-icon flaticon-plus">صفحه</i>
                                        <span class="kt-menu__link-text"></span>
                                    </a>
                                </li>
                            }



                            


                             
                            @if (ViewBag.Title == "User")
                            {
                                <li class=" kt-menu__item  kt-menu__item--active" aria-haspopup="true">
                                    <a href="@Url.Action("Users", "PAdmin")" class="kt-menu__link ">
                                        <i class="kt-menu__link-icon flaticon-plus">کاربران </i>
                                        <span class="kt-menu__link-text"></span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="kt-menu__item " aria-haspopup="true">
                                    <a href="@Url.Action("Users", "PAdmin")" class="kt-menu__link ">
                                        <i class="kt-menu__link-icon flaticon-plus">کاربران</i>
                                        <span class="kt-menu__link-text"></span>
                                    </a>
                                </li>
                            }



                        </ul>

                    </div>
                </div>
                <!-- end:: Aside Menu -->
            </div>
            <!-- end:: Aside -->
            <!-- end:: Aside -->

            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

                    <!-- begin:: Header Menu -->
                    <!-- Uncomment this to display the close button of the panel
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn">
                    <i class="la la-close">
                    </i>
                    </button>
                    -->

                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">

                        <div style="display:none" id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                            <ul class="kt-menu__nav ">
                                <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel kt-menu__item--active kt-pulse kt-pulse--brand" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle ">
                                        <span class="kt-menu__link-text "></span>
                                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                                    </a>
                                    <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                        <ul class="kt-menu__subnav">
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="https://localhost:44388/index.html" class="kt-menu__link ">
                                                    <span class="kt-menu__link-icon">
                                                        <i class="flaticon2-black-back-closed-envelope-shape " style="font-size: 20px;"></i>
                                                    </span>
                                                    <span class="kt-menu__link-text">ارسال تیکت</span>
                                                </a>
                                            </li>
                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="javascript:;" class="kt-menu__link ">
                                                    <span class="kt-menu__link-icon">
                                                        <i class="flaticon-layers " style="font-size: 20px;"></i>
                                                    </span>
                                                    <span class="kt-menu__link-text">صندوق تیکت ها</span>
                                                    <span class="kt-menu__link-badge">
                                                        <span class="kt-badge kt-badge--warning kt-badge--rounded">2</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="kt-menu__item  kt-menu__item--submenu" data-ktmenu-submenu-toggle="hover" aria-haspopup="true">
                                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                    <span class="kt-menu__link-icon">
                                                        <i class="flaticon2-analytics"></i>
                                                    </span>
                                                    <span class="kt-menu__link-text">خدمات ما</span>
                                                    <i class="kt-menu__hor-arrow la la-angle-right"></i>
                                                    <i class="kt-menu__ver-arrow la la-angle-right"></i>
                                                </a>
                                                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                                                    <ul class="kt-menu__subnav">
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <a href="javascript:;" class="kt-menu__link ">
                                                                <i class="kt-menu__link-bullet flaticon2-shield">
                                                                    <span></span>
                                                                </i>
                                                                <span class="kt-menu__link-text">ماژول امنیتی</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <a href="javascript:;" class="kt-menu__link ">
                                                                <i class="kt-menu__link-bullet flaticon2-analytics-1">
                                                                    <span></span>
                                                                </i>
                                                                <span class="kt-menu__link-text">خدمات دیجیتال مارکتینگ</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <a href="javascript:;" class="kt-menu__link ">
                                                                <i class="kt-menu__link-bullet flaticon-apps">
                                                                    <span></span>
                                                                </i>
                                                                <span class="kt-menu__link-text">درخواست پروژه برنامه نویسی</span>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </li>

                                            <li class="kt-menu__item " aria-haspopup="true">
                                                <a href="javascript:;" class="kt-menu__link ">
                                                    <span class="kt-menu__link-icon">
                                                        <i class="flaticon-information"></i>
                                                    </span>
                                                    <span class="kt-menu__link-text">آموزش پورتال</span>
                                                </a>
                                            </li>
                                            <li class="kt-menu__item  DangerBackHOVER" aria-haspopup="true">
                                                <a href="javascript:;" class="kt-menu__link ">
                                                    <span class="kt-menu__link-icon">
                                                        <i class="flaticon-alarm kt-font-warning"></i>
                                                    </span>
                                                    <span class="kt-menu__link-text">گزارش مشکل هوشمند</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end:: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    <div class="kt-header__topbar">
                        <!--begin: Search -->
                        <!--begin: Search -->
                        <div style="display:none" class="kt-header__topbar-item kt-header__topbar-item--search dropdown" id="kt_quick_search_toggle">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                                <span class="kt-header__topbar-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                            <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-lg">
                                <div class="kt-quick-search kt-quick-search--dropdown kt-quick-search--result-compact" id="kt_quick_search_dropdown">
                                    <div class="kt-quick-search__form">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="flaticon2-search-1"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control kt-quick-search__input" placeholder="Search...">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-close kt-quick-search__close"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-quick-search__wrapper kt-scroll ps" data-scroll="true" data-height="325" data-mobile-height="200" style="height: 325px; overflow: hidden;">
                                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; left: -4px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Search -->
                        <!--end: Search -->
                        <!--begin: User Bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--user">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
                                <div class="kt-header__topbar-user">
                                    <span class="kt-header__topbar-welcome kt-hidden-mobile">سلام،</span>
                                    <span class="kt-header__topbar-username kt-hidden-mobile"></span>
                                    <img style="display:none" class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold" alt="Pic" src=".ad_avatarprofile">
                                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                </div>
                            </div>

                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
                                <!--begin: Head -->
                                <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(/assets/media/misc/bg-1.jpg)">
                                    <div class="kt-user-card__avatar">
                                        <img class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success" alt="Pic" src=".ad_avatarprofile" style="display:none">
                                        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                        <span class="kt-hidden">S</span>
                                    </div>
                                    <div class="kt-user-card__name">
                                    

                                    </div>
                                    <div class="kt-user-card__badge">
                                        <span style="display:none" class="btn btn-success btn-sm btn-bold btn-font-md">400 پیام جدید</span>
                                    </div>
                                </div>
                                <!--end: Head -->
                                <!--begin: Navigation -->
                                <div class="kt-notification">

                                    <form asp-controller="Account" asp-action="LogOut" method="post">
                                        <div class="kt-notification__custom kt-space-between">

                                            <button type="submit" class="btn btn-label btn-label-brand-Danger btn-sm btn-bold">خروج</button>
                                        </div>
                                    </form>
                                </div>




                                <!--end: Navigation -->
                            </div>
                        </div>
                        <!--end: User Bar -->
                    </div>
                    <!-- end:: Header Topbar -->
                </div>
                <!-- end:: Header -->
                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                    <!-- begin:: Subheader -->
                    <!-- end:: Subheader -->
                    <!-- begin:: Content -->
                    @RenderBody()
                    <!-- end:: Content -->

                </div>

                <!-- begin:: Footer -->
                <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-container  kt-container--fluid ">
                        <!--
                                                <div class="kt-footer__copyright">
                                                    2019&nbsp;©&nbsp;<a href="http://tshpanda.com/" target="_blank" class="kt-link">توسعه سیستم هوشمند پاندا</a>
                                                </div>
                                                <div class="kt-footer__menu">
                                                    <a href="https://tshpanda.com/%D8%AF%D8%B1%D8%A8%D8%A7%D8%B1%D9%87-%D9%85%D8%A7" target="_blank" class="kt-footer__menu-link kt-link">درباره ما</a>
                                                    <a href="https://tshpanda.com/%D8%A7%D8%B1%D8%AA%D8%A8%D8%A7%D8%B7-%D8%A8%D8%A7-%D9%85%D8%A7" target="_blank" class="kt-footer__menu-link kt-link">ارتباط با ما</a>
                                                </div>
                        -->
                    </div>
                </div>
                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>

    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="~/assets/plugins/global/plugins.bundle.js" type="text/javascript">
    </script>
    <script src="~/assets/js/scripts.bundle.js" type="text/javascript">
    </script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors(used by this page) -->
    <script src="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript">
    </script>
    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="~/assets/js/pages/dashboard.js" type="text/javascript">
    </script>
    <!--end::Page Scripts -->

</body><!-- end::Body -->
</html>
