﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="pageh1">Page 1</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="pageh2">Page 2</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="pageh3">Page 3</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="pageh4">Page 4</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="pageh5">Page 5</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="pageh6">Page 6</a>
    
</div>

