@font-face {
    font-family: IRANSansWeb;
    src: url(Font/IRANSansWeb.ttf) format('truetype')
}

html * {
    font-family: IRANSansWeb;
}

.DangerBackHOVER {
}

    .DangerBackHOVER:hover {
        background-color: #ff0054 !important;
        color: white !important;
    }

.btn-label-brand-Danger:hover {
    background-color: #ff0054 !important;
    color: #fff !important;
}

.btn-label-brand-Danger {
    background-color: rgba(247, 186, 4, 0.79) !important;
    color: #0e0e0f !important;
}
/*-------------------------------------------------*/
.accordion1 {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active1, .accordion1:hover {
        background-color: #ccc;
    }

.panel1 {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
/*--------------------------------------------------*/
.form-control1 {
    height: calc(1.5em + 1.3rem + 2px);
    padding: .65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
}
/*---------------------------------------------------------*/
div.pager {
    text-align: center;
    margin: 1em 0;
}

    div.pager span {
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2.2;
        text-align: center;
        cursor: pointer;
        background: #1e1e2d;
        color: #fff;
        margin-right: 0.5em;
    }

        div.pager span.active {
            background: #00cbc3;
        }

/*---------------------------------------------*/
.column1 {
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
    .column1 img {
        opacity: 0.8;
        cursor: pointer;
    }
        .column1 img:hover {
            opacity: 1;
        }
