﻿@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<h1>AddRole</h1>

<form asp-controller="PAdmin" asp-action="AddRole" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label class="control-lable"> name : </label>
        <input class="form-group" asp-for="Name"/>
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
</form>

