﻿@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<h1>EditUser</h1>

<form asp-controller="PAdmin" asp-action="EditUser" method="post" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label class="control-lable"> UserName : </label>
        <input class="form-group" asp-for="UserName" />
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
</form>