﻿@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "EditRole";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<h1>EditRole</h1>

<form asp-controller="PAdmin" asp-action="EditRole" method="post" asp-route-id="@Model.Id">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label class="control-lable"> name : </label>
        <input class="form-group" asp-for="Name" />
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
</form>