﻿@model WebCoreOne.ViewModels.PAdmin.AddUserToRoleViewModel
@{
    ViewData["Title"] = "RemoveUserToRole";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<h1>RemoveUserToRole</h1>


@if (!Model.UserRolres.Any())
{
    <h1>دسترسی پیدا نشد</h1>
}
else
{
    <form asp-controller="PAdmin" asp-action="RemoveUserToRole" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        @for (int i = 0; i < Model.UserRolres.Count; i++)
        {
            <div class="form-group">
                <input asp-for="@Model.UserRolres[i].IsSelected" />
                <label>@Model.UserRolres[i].RoleName </label>
                <input type="hidden" asp-for="@Model.UserRolres[i].RoleName" />
            </div>

        }

        <input type="hidden" asp-for="@Model.UserId" />
        <button class="btn btn-primary" type="submit">submit</button>
    </form>


}