﻿@model WebCoreOne.ViewModels.SiteSetting.RoleValidatioGuidViewModel
@{
    ViewData["Title"] = "RoleValidatioGuid";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<h1>RoleValidatioGuid</h1>

<form asp-controller="PAdmin" asp-action="RoleValidatioGuid" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label class="control-label" asp-for="@Model.Value"></label>
        <input readonly="readonly" class="form-group" asp-for="@Model.Value" />

    </div>


    <div class="form-group">
        <label class="control-label" asp-for="@Model.LastTimeChanged"></label>
        <input readonly="readonly" class="form-group" asp-for="@Model.LastTimeChanged" />

    </div>

    <button class="btn btn-primary " type="submit"> Generate New Guid</button>
</form>