﻿@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<h1>Roles</h1>

<a  style="width:max-content;" asp-controller="PAdmin" asp-action="AddRole" class="btn btn-primary"> Add Role </a>
@if (Model.Count==0)
{
    <h1> لیست درسترسی یافت نشد</h1>
}
else
{

    for (int i = 0; i < Model.Count; i++)
    {
        <div class="card mt-2">
            <div class="card-body">
                Role Name : <b> @Model[i].Name</b>
            </div>
            <div class="card-footer">
                <form asp-controller="PAdmin" asp-action="DeletRole" asp-route-id="@Model[i].Id" method="post">

                    <a asp-controller="PAdmin" asp-action="EditRole" class="btn btn-primary" asp-route-id="@Model[i].Id"> Edit Role </a>
                    <button type="submit" class="btn btn-danger"> Delete</button>
                </form>
            </div>
        </div>
    }


}
