﻿@model List<SiteSetting>
@{
    ViewData["Title"] = "settings";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<h1>settings</h1>

<div class="btn-group mt-4 mb-4" style="width: max-content;">
    <a asp-action="RoleValidatioGuid" class=" btn btn-primary">Role Validatio Guid</a>
</div>

@if (Model.Count == 0)
{

}
else
{
    for (int i = 0; i < Model.Count; i++)
    {
<div class="card mt-2">
    <div class="card-header">
        Sitesting Key : <b>@Model[i].Key</b>

    </div>
    <div class="card-body">
        Sitesting Value : <b>@Model[i].Value</b>

    </div>
    <div class="card-footer">
        Last Time Value Changed : @Model[i].LastTimeChanged
    </div>




</div>
    }
}
