﻿@model List<WebCoreOne.ViewModels.Role.IndexViewModell>
@{
    ViewData["Title"] = "SiteRole";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<h1>SiteRole</h1>

<a asp-controller="PAdmin" asp-action="CreateRole">Create Role</a>

<div class="container">
    @if (Model.Any())
    {
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="form-group">
                Name = @Model[i].RoleName
                <br />
                RoleId = @Model[i].RoleId
            </div>
        }
    }
    else
    {
        <p>No Role Found.</p>
    }
</div>
