﻿@model List<WebCoreOne.ViewModels.PAdmin.IndexViewModel>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/Panel.cshtml";
}


<h1>User</h1>

@if (Model.Count == 0)
{
    <h1> کاربر یافت نشد</h1>
}
else
{

    for (int i = 0; i < Model.Count; i++)
    {
        <div class="card mt-2">
            <div class="card-header">
                User Name : <b> @Model[i].UserName</b>
            </div>
            <div class="card-body">
                User Email : <b> @Model[i].Email</b>
            </div>

            <div class="card-footer">
                <form asp-controller="PAdmin" asp-action="DeleteUser" asp-route-id="@Model[i].Id" method="post">

                 
                    <a asp-controller="PAdmin" asp-action="EditUser" class="btn btn-primary" asp-route-id="@Model[i].Id"> Edit User Name</a>
                  
                    <a asp-controller="PAdmin" asp-action="AddUserToRole" class="btn btn-primary" asp-route-id="@Model[i].Id"> Add User To Role </a>
                  
                    <a asp-controller="PAdmin" asp-action="RemoveUserToRole" class="btn btn-primary" asp-route-id="@Model[i].Id"> Remove User To Role </a>
                    <a asp-controller="PAdmin" asp-action="UpdateSecurityStamp" asp-route-id="@Model[i].Id"
                       class="btn btn-danger">Update Security stamp</a>
                    
                    <button type="submit" class="btn btn-danger"> Delete</button>
                </form>
            </div>
        </div>
    }


}


